<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-assertive">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <ion-header-bar class="bar-assertive">
    </ion-header-bar>

    <!-- menu content -->
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="main.map" icon="map">
          <i class="icon ion-android-map"></i>
          Map
        </ion-item>
        <ion-item menu-close ui-sref="main.list">
          <i class="icon ion-flag"></i>
          List
        </ion-item>
        <div class="item item-divider">
          Settings
        </div>
        <ion-toggle toggle-class="toggle-calm" icon="location" ng-controller="LocationUpdateCtrl as ctrl" ng-model="ctrl.$storage.updateLocation" ng-change="ctrl.toggleUpdate(ctrl.$storage.updateLocation)">
          <i class="icon ion-location"></i>
          Location Update<ion-spinner ng-show="ctrl.pending" icon="ripple" style="height: 16px"></ion-spinner>
        </ion-toggle>
        <ion-item menu-close icon="log-out" ng-controller="LogoutCtrl as ctrl" ng-click="ctrl.logout()">
          <i class="icon ion-log-out"></i>
          Log out
        </ion-item>
        <ion-item menu-close ui-sref="main.debug">
          Debug
        </ion-item>
      </ion-list>

      <div class="card">
        <div class="item item-text-wrap text-center lead" ng-controller="LocationUpdateCtrl as ctrl">
            {{ ctrl.position.lat | number: 0 }}° φ {{ ctrl.position.lng | number: 0 }}° λ
        </div>
      </div>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
