<ion-view view-title="Mister X">
  <!-- do you want padding? -->
  <ion-content class="padding">

    <!-- content goes here -->
    <ion-list>
      <ion-item class="item item-divider">
        Welcome to the Mister X game.
      </ion-item>
      <ion-item class="item item-text-wrap">
        This is an implementation of the Mister X genre (aka Scotland Yard) of games intended
        for the use as a geolocation game for scouts.
      </ion-item>
    </ion-list>
    <button class="button button-block button-royal" ng-click="ctrl.login()">
      Proceed to Login
    </button>

  </ion-content>
</ion-view>
